{% extends "_layout" %}
{% set title = "Solutions" %}

{% block content %}

	<div class="careerspage-top">
		<div class="solution-top-inner">
			{% for entry in craft.entries.section('careers').title("CAREERS AT PARADATA") %}
				<div class="company-title">
					{{ entry.title }}
				</div>
				<div class="solution-top-body">
					<div class="solution-top-text">
						{{ entry.body }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('careers').title("WORKING AT PARADATA") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="careerspage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
				<div class="solutionpage-middle-list">
					{% for entry in craft.entries.section('careers').title("Careers Image 1") %}
						{% for image in entry.image %}
							<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
						{% endfor %}
					{% endfor %}
				</div>
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('careers').title("GET INVOLVED WITH:") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="careerspage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
				<div class="solutionpage-middle-list">
					{% for entry in craft.entries.section('careers').title("Careers Image 2") %}
						{% for image in entry.image %}
							<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
						{% endfor %}
					{% endfor %}
				</div>
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('careers').title("ENJOY A WIDE RANGE OF BENEFITS:") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="careerspage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="current-openings">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('careers').title("CURRENT OPENINGS:") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="careerspage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
