{% extends "_layout" %}
{% set title = "Solutions" %}

{% block content %}

	<div class="platformpage-top">
		<div class="solution-top-inner">
			<div class="pricing-title">
				PLATFORM
			</div>
			<div class="solution-top-body">
				<div class="solution-top-text">
					ANATOMY OF THE PARADATA SERVICE
				</div>
			</div>
		</div>
	</div>

	<div class="prices-middle">
		<div class="solutionpage-middle-inner">
			<center>
				(Platform Page Goes Here)
			</center>
		</div>
	</div>

	<div class="solution-bottom">
		<a href="https://paradata.herokuapp.com/scorerequest">
			<div class="learn-button" style="color: black;">
				SCHEDULE A DEMO
			</div>
		</a>
	</div>

{% endblock %}
