{% extends "_layout" %}
{% set title = "Solutions" %}

{% block content %}

	<div class="companypage-top">
		<div class="homepage-top-inner">
			{% for entry in craft.entries.section('company').title("company") %}
				<div class="home-title">
					{{ entry.title }}
				</div>
				<div class="home-top-body">
					<div class="solution-top-text">
						{{ entry.body }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('company').title("ABOUT PARADATA") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="solutionpage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
			{% for entry in craft.entries.section('company').title("location") %}
				<div class="homepage-bottom-text">
					<div class="location-text">
						{{ entry.body }}
					</div>
				</div>
				<div class="homepage-bottom-image">
					{% for image in entry.image %}
						<img style="width:500px;" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				<div class="solutionpage-middle-list" style="font-size: 25px;">
					PARADATA BY THE NUMBERS
				</div>
				<center>
					{% for entry in craft.entries.section('bythenumbers').order('lft desc').limit(6).find() %}
						<div class="bythenumbers-text">
							{% for image in entry.image %}
								<div class="bythenumbers-image-holder">
									<img class="bythenumbers-image" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
								</div>
							{% endfor %}
							<div>
								{{ entry.body }}
							</div>
						</div>
					{% endfor %}
				</center>
			</div>
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
			<div>
				<div class="solutionpage-middle-list">
					<img src="http://paradata.herokuapp.com/images/company1.png">
				</div>
				<center>
					{% for entry in craft.entries.section('companyphoto').order('lft desc').limit(4).find() %}
						<div class="company-photos">
							{% for image in entry.image %}
								<div class="company-photo-holder">
									<img class="company-photo" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
								</div>
							{% endfor %}
							<div>
								{{ entry.body }}
							</div>
						</div>
					{% endfor %}
				</center>
			</div>
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div class="employees-title" style="font-size: 25px;">
				MEET OUR TEAM
			</div>
				{% for entry in craft.entries.section('employees').order('lft desc').find() %}
					<div class="employees-holder">
						<div>
							{% for image in entry.image %}
								<img class="employee-image" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
							{% endfor %}
						</div>
						<div class="employee-body">
							<div class="employee-title">
								{{ entry.title }}
							</div>
							{{ entry.body }}
						</div>
					</div>
				{% endfor %}
		</div>
	</div>

{% endblock %}
