{% extends "_layout" %}
{% set title = "Company" %}

{% block content %}

	<div class="companypage-top">
		<div class="solution-top-inner">
			{% for entry in craft.entries.section('company').title("company") %}
				<div class="company-title">
					{{ entry.title }}
				</div>
				<div class="solution-top-body">
					<div class="solution-top-text">
						{{ entry.body }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('company').title("ABOUT PARADATA") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="solutionpage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
			{% for entry in craft.entries.section('company').title("location") %}
				<div class="homepage-bottom-text">
					<div class="location-text">
						{{ entry.body }}
					</div>
				</div>
				<div class="homepage-bottom-image">
					{% for image in entry.image %}
						<img style="width:500px;" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				<div class="solutionpage-middle-list" style="font-size: 25px;">
					PARADATA BY THE NUMBERS
				</div>
				<center>
					{% for entry in craft.entries.section('bythenumbers').order('lft desc').limit(6).find() %}
						<div class="bythenumbers-text">
							{% for image in entry.image %}
								<div class="bythenumbers-image-holder">
									<img class="bythenumbers-image" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
								</div>
							{% endfor %}
							<div>
								{{ entry.body }}
							</div>
						</div>
					{% endfor %}
				</center>
			</div>
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
			<div>
				<div class="solutionpage-middle-list">
					<img src="http://paradata.herokuapp.com/images/company1.png">
				</div>
				<center>
					{% for entry in craft.entries.section('companyphoto').order('lft desc').limit(4).find() %}
						<div class="company-photos">
							{% for image in entry.image %}
								<div class="company-photo-holder">
									<img class="company-photo" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
								</div>
							{% endfor %}
							<div>
								{{ entry.body }}
							</div>
						</div>
					{% endfor %}
				</center>
			</div>
		</div>
	</div>

	<div class="homepage-middle">
		<div class="all_employees">
			<div class="employees-title" style="font-size: 25px;">
				MEET OUR TEAM
			</div>
			{% for entry in craft.entries.section('employees').order('lft desc').find() %}
				<div class="employee-full">
					<div style="display:inline-block;" id="navi">
						{% for image in entry.image %}
							<img class="employee-image menu" src="{{ image.getUrl() }}" alt="{{ entry.title }}">
						{% endfor %}
						<ul class="drop">
							<div class="drop-name">
								Contact {{ entry.title }}:
							</div>
							<li style="font-size:15px;">
								{% set email = ["mailto:", entry.email]|join('') %}
								<a href="{{ email }}">
									<div class="drop-link">
										{{ entry.email }}
									</div>
								</a>
							</li>
							<li>
								{% set tele = ["tel:", entry.phone]|join('') %}
								<a href="{{ tele }}">
									<div class="drop-link">
										{{ entry.phone }}
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="employee-body" style="display:inline-block;">
						<div class="employee-title">
							{{ entry.title }}
						</div>
						<div class="employee-text">
							{{ entry.body }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
