  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font: inherit;
    vertical-align: baseline;
  }
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
    color: white;
    font-size: 20px;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    background: black;
    height: 100%;
    border-width: 0;
  }
  a {
    color: #0387ab;
    text-decoration: none;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  a:hover {
    color: #75bbce;
  }
  p {
    font-size: 20px;

    padding: 0px 0px 15px 0px;
    line-height: 1.25;
    font-family: 'Quicksand', sans-serif;
  }
  .text-link {
    color: white;
    font-size: 20px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .text-link:hover {
    font-size: 20px;
    cursor: pointer;
    color: #75bbce;
  }
  body {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    background-color: #2a2a2a;
  }
  #container {
    border-width: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    position: relative;
    vertical-align: top;
    background-color: #2a2a2a;
    font-family: 'Quicksand', sans-serif;
  }
  div {
    font-family: 'Quicksand', sans-serif;
    height: 100%;
  }
  header {
    height: 100%;
  }
  .signin {
    padding: 40px 0px 0px 0px;
  }
  .navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    height: 100px;
    background-image: url("https://paradata.herokuapp.com/images/texture_tile-bg.png");
    background-color: #2a2a2a;
  }
  .header-container {
    width: 80%;
    height: 100px;
    top: 0;
  }
  .content-container {
    overflow: scroll;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 100px 0px 0px 0px;
  }
  .stripes {
    background-image: url("https://paradata.herokuapp.com/images/texture_tile-bg.png");
  }
  #header, #footer {
    font-size: 20px;
    display: block;
    color: white;
    width: 80%;
    margin: 0 auto;
  }
  #header a, #footer a {
    font-size: 20px;
  }
  #header {
    height: 100%;
    top: 0;
    padding: 25px 0px 15px 0px;
    margin: 0 auto;
  }
  .footer-top {
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #2a2a2a;
  }
  main {height: 100%; width: 100%; margin: 0 auto;}
  #header:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  #header a {
    text-decoration: none;
  }
  #header h1 {
    float: left;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1;
  }
  #header nav {
    height: 100%;
    float: right;
    padding: 6px 0px 0px 0px;
    font-size: 10px;
    height: 100%;
  }
  #content { height: 100%; display: block; background: #fff; }
  #content h1 { margin-top: 0; }
  #content a {
    text-decoration: none;
  }
  #footer {
    color: white;
    padding: 15px; font-size: 20px; text-align: center; }
  nav {
    background-color: red;
    height: 100%;
  }
  #header {
    height: 100%;
  }
  .address {
    color: white;
    float: right;
    text-align: left;
    font-size: 20px;
    display: inline-block;
    padding-right: 20%;
  }
  .footer-links {
    font-size: 20px;
    color: white;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .footer-links:hover {
    color: #75bbce;
  }
  .foot-center {
    width: 80%;
    margin: 0 auto;
    margin: 25px 0px 20px 0px;
  }
  .feet {
    display: flex;
    justify-content: center;
  }
  .copyright {
    font-size: 12px;
    padding: 1px 0px 0px 0px;
  }
  .company-text {
    color: white;
    float: left;
    font-size: 20px;
    text-align: left;
    font-size: 20px;
    display: inline-block;
  }
  .icon {
    width: 40px;
    border-radius: 7px;
  }
  .title {
    width: 220px;
    display: inline-block;
    height: 44px;
    margin: 32px 0px 0px 0px;
    background:transparent url('https://paradata.herokuapp.com/images/paradata-logo.png') center top no-repeat;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .title:hover {
    cursor: pointer;
    width: 220px;
    height: 44px;
    background-image: url('https://paradata.herokuapp.com/images/paradata-logo-alt.png');
  }
  .nav-link {
    padding: 0px 15px 0px 15px;
    color: white;
    font-size: 20px;
    float: right;
    justify-content: center;
    align-items: right;
    position: relative;
    height: 100px;
    border-bottom: 0px solid transparent;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .nav-link:hover {
    height: 90px;
    cursor: pointer;
    color: #75bbce;
    border-bottom: 10px solid #75bbce;
  }
  .admin-link {
    background-color: #0387ab;
    height: 100%;
    padding: 0px 15px 0px 15px;
    color: white;
    font-size: 20px;
    float: right;
    justify-content: center;
    align-items: right;
    position: relative;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .admin-link:hover {
    background-color: #75bbce;
    cursor: pointer;
    color: white;
  }
  .homepage-top {
    width: 100%;
    height: 100%;
    background-image: url('https://paradata.herokuapp.com/images/electronics-2.jpg');
    background-size: cover;
    color: white;
  }
  .prices-holder {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pricing-box-1 {
    display: inline-block;
    border: 3px solid grey;
    color: grey;
    margin: 0px 15px 0px 0px;
    padding: 15px 100px 15px 100px;
  }
  .pricing-box-2 {
    padding: 15px 100px 15px 100px;
    display: inline-block;
    border: 3px solid #72bcd4;
    color: #72bcd4;
    margin: 0px 0px 0px 15px;
  }
  .price-inner {
    width: 180px;
  }
  .price-inner-right {
    width: 160px;
    padding: 0px 17.5px 0px 17.5px;
  }
  .solutionpage-top {
    width: 100%;
    height: 100%;
    background-image: url('https://paradata.herokuapp.com/images/nightsky.jpg');
    background-size: cover;
    color: white;
    margin: auto;
  }
  .companypage-top {
    width: 100%;
    height: 100%;
    background-image: url('https://paradata.herokuapp.com/images/company.jpg');
    background-size: cover;
    color: white;
    margin: auto;
  }
  .blogpage-top {
    width: 100%;
    height: 100%;
    background-image: url('https://paradata.herokuapp.com/images/news.jpg');
    background-size: cover;
    color: white;
    margin: auto;
  }
  .careerspage-top {
    width: 100%;
    height: 100%;
    background-image: url('https://paradata.herokuapp.com/images/row_crew.jpg');
    background-size: cover;
    color: white;
    margin: auto;
  }
  .pricingpage-top {
    width: 100%;
    height: 100%;
    background-image: url('https://paradata.herokuapp.com/images/cash.jpg');
    background-size: cover;
    color: white;
    margin: auto;
    padding: 0px 0px 10px 0px;
  }
  .homepage-top-inner {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 5px 0px;
  }
  .slideshow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .solution-top-inner {
    height: 100%;
    width: 80%;
    margin: auto;
  }
  .score-button {
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 0px 10px 0px 10px;
    margin: 25px 0px 0px 0px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .score-button:hover {
    cursor: pointer;
    background-color: #00FA9A;
    box-shadow: 2px 2px 2px black;
  }
  .schedule-button {
    color: black;
    background-color: #ADD8E6;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 30px 0px 10px 0px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .bythenumbers-text {
    display: inline-block;
    width: 30%;
  }
  .company-photos {
    display: inline-block;
    width: 24%;
  }
  .bythenumbers-image-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 15px 0px;
  }
  .company-photo-holder {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 15px 0px;
  }
  .bythenumbers-image {
    width: 60px;
  }
  .company-photo {
    width: 200px;
    border: solid 2px white;
    margin: 0px 15px 0px 15px;
    box-shadow: 1px 1px 1px grey;
  }
  .schedule-button:hover {
    cursor: pointer;
    color: black;
    background-color: #00FA9A;
    box-shadow: 2px 2px 2px #D3D3D3;
  }
  .video-holder {
    width: 500px;
  }
  .solution-list-text {
    width: 350px;
    line-height: 1.25;
  }
  .location-text {
    font-size: 20px;
    width: 350px;
    line-height: 1.25;
  }
  .home-middle-num {
    background-color: #ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 0px 0px 20px 0px;
  }
  .homepage-bottom-image {
    display: inline-block;
    padding: 0px 0px 0px 20px;
  }
  .homepage-bottom-text {
    display: inline-block;
  }
  .learn-button {
    background-color: #ADD8E6;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 30px 0px 40px 0px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .learn-button:hover {
    box-shadow: 2px 2px 2px #D3D3D3;
    cursor: pointer;
    background-color: #00FA9A;
  }
  .slideshow-button {
    background-color: #ADD8E6;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 30px 0px 40px 0px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .slideshow-button:hover {
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    background-color: #00FA9A;
  }
  .home-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px 50px 0px;
    text-shadow: 1px 1px 1px black;
  }
  .pricing-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    width: 100%;
    padding: 60px 0px 50px 0px;
    text-shadow: 1px 1px 1px black;
  }
  .solution-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    width: 100%;
    padding: 60px 0px 50px 0px;
    text-shadow: 1px 1px 1px black;
  }
  .company-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    width: 100%;
    padding: 60px 0px 50px 0px;
    text-shadow: 1px 1px 1px black;
  }
  .single-comment {
    padding: 5px 0px 5px 0px;
    width: 100%;
  }
  .comments-title {
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    width: 100%;
  }
  .comments-container {
    width: 100%;
    font-size: 15px;
  }
  .author-image {
    padding: 15px 0px 15px 0px;
    display: inline-block;
  }
  .full-blog-entry {
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
  }
  .full-blog-entry-2 {
    padding: 20px 0px 20px 0px;
    width: 100%;
    color: black;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .blog-width {
    width: 80%;
  }
  .blogger-name {
    display: inline-block;
    padding: 70px 0px 0px 7px;
    vertical-align: top;
  }
  .author-name {
    display: inline-block;
  }
  .author-comment {
    padding: 0px 0px 0px 5px;
    display: inline-block;
    font-style: italic;
  }
  .comment-date {
    padding: 0px 0px 0px 5px;
    display: inline-block;
  }
  .blog-header-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 45px;
    width: 100%;
    padding: 50px 0px 50px 0px;
    text-shadow: 1px 1px 1px black;
  }
  .home-top-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 30px 0px;
  }
  .solution-top-body {
    padding: 0px 0px 30px 0px;
    font-size: 40px;
  }
  .company-top-body {
    font-family: 'Quicksand', sans-serif;
    padding: 0px 0px 40px 0px;
    text-shadow: 1px 1px 1px black;
  }
  .employee-title {
    padding: 20px 0px 20px 0px;
    font-size: 25px;
    color: #0ae0ff;
    text-shadow: 1px 1px 1px grey;
  }
  .employee-text {
    font-size: 18px;
  }
  .employees-holder {
    display: flex;
    padding: 0px 0px 30px 0px;
  }
  .home-top-text {
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    width: 400px;
  }
  .homepage-title {
    padding: 40px 0px 40px 0px;
    font-size: 45px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px black;
  }
  .employee-body {
    width: 65%;
    padding: 0px 0px 0px 25px;
    font-size: 20px;
  }
  .blogpost-body {
    font-size: 20px;
  }
  .solution-top-text {
    padding: 0px 0px 25px 0px;
    font-size: 35px;
    text-shadow: 1px 1px 1px black;
  }
  .slider {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .home-top-image {
    width: 35%;
  }
  .caption {
    padding: 30px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    width: 45%;
    text-shadow: 1px 1px 1px black;
  }
  .employee-image {
    padding: 5px;
    width: 220px;
    box-shadow: 1px 1px 1px grey;
  }
  .blog-image {
    width: 100%;
    border: solid 5px white;
    box-shadow: 1px 1px 1px grey;
  }
  .blogger-image {
    width: 100px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px grey;
  }
  .blog-image-holder {
    width: 100%;
  }
  .homepage-middle {
    width: 100%;
    color: black;
  }
  .current-openings {
    width: 100%;
    color: black;
    background-color: #f3f3f3;
  }
  .prices-middle {
    padding: 15px 0px 15px 0px;
    width: 100%;
    color: black;
  }
  .homepage-middle-inner {
    height: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .homepage-middle-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .delivers {
    width: 80%;
    margin: 0 auto;
    padding-left: 2%;
    justify-content: center;
    align-items: center;
  }
  .delivery {
    display: inline-block;
    width: 32%;
  }
  .solution-bottom {
    display: flex;
    margin: 0 auto;
    padding: 15px 0px 0px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
  }
  .solutionpage-middle {
    background-color: #ededed;
    width: 100%;
    color: black;
  }
  .solutionpage-middle-inner {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
  }
  .solutionpage-middle-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 15px 0px;
  }
  .careerspage-middle-list {
    padding: 15px 0px 15px 0px;
  }
  .employees-title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 25px 0px;
  }
  .blog-title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 0px;
  }
  .price-title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 15px 0px;
  }
  .price-data {
    display: inline-block;
  }
  .dollar-sign {
    font-size: 25px;
    display: inline-block;
    vertical-align:top;
    padding: 20px 0px 0px 0px;
  }
  .price-number {
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding: 15px 0px 15px 0px;
  }
  .homepage-bottom-title {
    font-size: 25px;
    padding: 0px 0px 35px 0px;
  }
  .homepage-middle-title {
    padding: 45px 0px 50px 0px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homepage-bottom {
    width: 100%;
    color: black;
    background-color: #f3f3f3;
  }
  .homepage-bottom-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 25px 0px 30px 0px;
  }
  .request-holder {
    background-color: #2a2a2a;
    width: 100%;
    height: 100%;
    padding: 8% 0px 8% 0px;
  }
  .form-holder {
    vertical-align: middle;
    display: inline;
    top: 50%;
    position: relative;
    bottom: 50%;
    color: white;
    width: 235px;
  }
  .comment-author-field {
    color: black;
    border: solid 1px grey;
    text-align: left;
    margin: 5px 0px 3px 0px;
    height: 24px;
    width: 250px;
    border-radius: 5px;
    padding: 0px 0px 0px 5px;

  }
  .comment-body-field {
    padding: 5px 0px 0px 5px;
    color: grey;
    text-align: left;
    margin: 5px 0px 0px 0px;
    height: 45px;
    width: 250px;
    border-radius: 5px;
  }
  .comment-button {
    border: solid 1px grey;
    color: black;
    text-align: center;
    margin: 6px 0px 0px 1px;
    height: 25px;
    width: 255px;
    border-radius: 5px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .comment-button:hover {
    cursor: pointer;
  }
  .form-field {
    color: black;
    border: solid 1px black;
    text-align: center;
    margin: 5px 0px 3px 0px;
    height: 24px;
    width: 198px;
    border-radius: 5px;
  }
  .form-field-2 {
    padding: 5px 0px 0px 0px;
    color: black;
    text-align: center;
    margin: 5px 0px 0px 0px;
    height: 20px;
    width: 200px;
    border-radius: 5px;
  }
  .form-button {
    color: black;
    text-align: center;
    margin: 5px 0px 0px 1px;
    height: 25px;
    width: 200px;
    border-radius: 5px;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
  }
  .form-button:hover {
    cursor: pointer;
  }
  .request-title {
    font-size: 25px;
    padding: 15px 0px 15px 0px;
  }
