
{% extends "_layout" %}
{% set title = "Request Your Score" %}

{% block content %}
	<h1>Schedule A Demo</h1>

	{% for entry in craft.entries.section('ScoreRequest').limit(1).find() %}

    <form method="post" action="" accept-charset="UTF-8">
        <input type="hidden" name="action" value="entries/saveEntry">
        <input type="hidden" name="sectionId" value="{{ entry.sectionId }}">

        <div>
          <input id="title" type="text" name="title">
        </div>
        <div>
          <textarea id="body" name="fields[email]"></textarea>
        </div>
        <div>
          <textarea id="body" name="fields[body]"></textarea>
        </div>

        <input type="submit" value="Publish">
    </form>


	{% endfor %}
{% endblock %}
