
{% extends "_layout" %}
{% set title = "Request Your Score" %}

{% block content %}

	<div class="request-holder">
		<div class="form-holder">
			<center>
				<img src="http://paradata2.herokuapp.com/images/paradata-logo-alt.png">
				<div class="request-title">
					Schedule A Demo
				</div>
				{% for entry in craft.entries.section('ScoreRequest').limit(1).find() %}
					{{ getCsrfInput() }}
			    <form method="post" action="thankyou" accept-charset="UTF-8">
		        <input type="hidden" name="action" value="guestEntries/saveEntry">
		        <input type="hidden" name="sectionId" value="{{ entry.sectionId }}">
						<div class="request-form">
			        <div>
			          <input class="form-field" placeholder="Your Name" id="title" type="text" name="title">
			        </div>
			        <div>
			          <textarea class="form-field-2" placeholder="Your Email Address" id="body" name="fields[email]"></textarea>
			        </div>
							<div>
								<textarea class="form-field-2" placeholder="Your Phone Number" id="body" name="fields[phone]"></textarea>
							</div>
			        <div>
			          <textarea class="form-field-2" placeholder="Your Company" id="body" name="fields[body]"></textarea>
			        </div>
						</div>
		        <input class="form-button" type="submit" value="Send">
			    </form>
				{% endfor %}
			</center>
		</div>
	</div>

{% endblock %}
