
{% extends "_layout" %}
{% set title = "Request Your Score" %}

{% block content %}
	<h1>Schedule A Demo</h1>

	{% for entry in craft.entries.section('scorerequest').limit(1).find() %}

    <form method="post" action="" accept-charset="UTF-8">
        <!-- <input type="hidden" name="redirect" value=""> -->
        <input type="hidden" name="action" value="entries/saveEntry">
        <input type="hidden" name="sectionId" value="2">
        <input id="title" type="text" name="title">
        <!-- <input type="hidden" name="enabled" value="4"> -->

        <!-- <textarea id="email" name="fields[email]"></textarea> -->

        <textarea id="body" name="fields[body]"></textarea>
        <input type="submit" value="Publish">
    </form>


	{% endfor %}
{% endblock %}
