{% extends "_layout" %}
{% set title = "Solutions" %}

{% block content %}

	<div class="solutionpage-top">
		<div class="homepage-top-inner">
			{% for entry in craft.entries.section('solution').order('lft desc').limit(1).find() %}
				<div class="solution-title">
					{{ entry.title }}
				</div>
				<div class="solution-top-body">
					<div class="solution-top-text">
						{{ entry.body }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="solutionpage-middle-inner">
			<div>
				{% for entry in craft.entries.section('solution').title("PARADATA ENABLES SUPPLY CHAIN OPTIMIZATION") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
						{{ entry.title }}
					</div>
					<div class="solutionpage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="solutionpage-middle">
		<div class="homepage-middle-inner">
			<div>
				{% for entry in craft.entries.section('solution').title("HOW DOES PARADATA WORK?") %}
					<div class="solutionpage-middle-list" style="font-size: 25px;">
							{{ entry.title }}
					</div>
					<div class="solutionpage-middle-list">
						{{ entry.body }}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="homepage-middle">
		<div class="homepage-bottom-inner">
			{% for entry in craft.entries.section('solution').title("1") %}
				<div class="homepage-bottom-text">
					<div class="homepage-middle-list">
						<div class="home-middle-num">
							{{ entry.title }}
						</div>
					</div>
					<div class="solution-list-text">
						{{ entry.body }}
					</div>
				</div>
				<div class="homepage-bottom-image">
					{% for image in entry.image %}
						<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-bottom">
		<div class="homepage-bottom-inner">
			{% for entry in craft.entries.section('solution').title("2") %}
				<div class="homepage-bottom-text">
					<div class="homepage-middle-list">
						<div class="home-middle-num">
							{{ entry.title }}
						</div>
					</div>
					<div class="solution-list-text">
						{{ entry.body }}
					</div>
				</div>
				<div class="homepage-bottom-image">
					{% for image in entry.image %}
						<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="homepage-middle">
		<div class="homepage-bottom-inner">
			{% for entry in craft.entries.section('solution').title("3") %}
				<div class="homepage-bottom-text">
					<div class="homepage-middle-list">
						<div class="home-middle-num">
							{{ entry.title }}
						</div>
					</div>
					<div class="solution-list-text">
						{{ entry.body }}
					</div>
				</div>
				<div class="homepage-bottom-image">
					{% for image in entry.image %}
						<img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="solution-bottom">
		<a href="https://paradata.herokuapp.com/scorerequest">
			<div class="learn-button" style="color: black;">
				SCHEDULE A DEMO
			</div>
		</a>
	</div>

{% endblock %}
