{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <head>

  	<meta charset="utf-8" />

  	<title>
      {% if title is defined %}{{ title }} - {% endif %}{{ siteName }}
    </title>

  	<link rel="home" href="{{ siteUrl }}" />
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://paradata.herokuapp.com/styles/style.css" rel="stylesheet" type="text/css">
    <!-- <link href="http://127.0.0.1:8888/Craft/public/styles/style.css" rel="stylesheet" type="text/css"> -->

  </head>

  <body>

  	<div id="container">
      <div class="header-container stripes">
    		<header id="header">
    			<h1>
            <a href="{{ siteUrl }}">
              <div class="title"></div>
            </a>
          </h1>
    			<nav>
            <a href="{{ url('solutions') }}">
              <div class="nav-link">
                SOLUTIONS
              </div>
            </a>
            <a href="{{ url('pricing') }}">
              <div class="nav-link">
                PRICING
              </div>
            </a>
            <a href="{{ url('blog') }}">
              <div class="nav-link">
                BLOG
              </div>
            </a>
            <a href="https://paradata.herokuapp.com/admin">
              <div class="nav-link">
                LOG IN
              </div>
            </a>
    			</nav>
    		</header>
      </div>

      <div class="content-container">
    		<main id="content" role="main">
    			{% block content %}

    			{% endblock %}
    		</main>
      </div>

      <div class="header-container">
        <div class="stripes">
      		<footer id="footer">
            <div class="address company-text">
              <a href="http://paradata.herokuapp.com/company">
                <p class="text-link">
                  COMPANY
                </p>
              </a>
              <a href="http://paradata.herokuapp.com/careers">
                <p class="text-link">
                  CAREERS
                </p>
              </a>
              <p>
                Follow us:
              </p>
              <a href="https://twitter.com/Paradata_io?lang=en">
                <img class="icon" src="https://paradata.herokuapp.com/images/twitter.png">
              </a>
              <a href="https://www.facebook.com/paradata.io/?fref=ts">
                <img class="icon" src="https://paradata.herokuapp.com/images/facebook.png">
              </a>
              <a href="https://www.linkedin.com/company/1039017?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A1039017%2Cidx%3A2-1-2%2CtarId%3A1453508639963%2Ctas%3Aparada">
                <img class="icon" src="https://paradata.herokuapp.com/images/linkedin.png">
              </a>
            </div>
            <div class="address">
              <a href="https://goo.gl/maps/zLEQikvsJxQ2">
                <p class="text-link">
                  Paradata<br />
                  200 North Almaden Blvd #250<br />
                  San Jose, CA 95110
                </p>
              </a>
              <p>
                408-791-2070
              </p>
              <a href="mailto:info@paradata.io">
                <p class="text-link">
                  info@paradata.io
                </p>
              </a>
            </div>
          </footer>
        </div>
        <footer id="footer">
          © 2016 • ALL RIGHTS RESERVED • PRIVACY POLICY
    		</footer>
      </div>
  	</div>

  </body>

</html>
