
{% extends "_layout" %}

{% block content %}


		{% for entry in craft.entries.section('homepagetop').limit(1).find() %}

      <div class="homepage-top">
        <div class="homepage-top-inner">
          <div>
      			{{ entry.title }}
          </div>

          <div>
            {% for image in entry.image %}
              <img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
            {% endfor %}
          </div>

          <div>
            {{ entry.body }}
          </div>

        </div>
      </div>

		{% endfor %}

    <div class="homepage-middle">
      <div class="homepage-middle-inner">

        PARADATA DELIVERS

        {% for entry in craft.entries.section('homepagemiddle').order('lft desc').limit(3).find() %}

              <div>
                {{ entry.title }}
              </div>

              <div>
                {{ entry.body }}
              </div>

        {% endfor %}

        LINK GOES HERE
      </div>

    </div>

    <div class="homepage-bottom">
      <div class="homepage-bottom-inner">
        {% for entry in craft.entries.section('homepagebottom').limit(1).find() %}
          <div class="homepage-bottom-text">
            <div>
              {{ entry.title }}
            </div>

            <div>
              {{ entry.body }}
            </div>
          </div>
          <div class="homepage-bottom-image">
            {% for image in entry.image %}
              <img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
            {% endfor %}
          </div>
        {% endfor %}

        LINK GOES HERE
      </div>

    </div>


{% endblock %}
