
{% extends "_layout" %}

{% block content %}

		{% for entry in craft.entries.section('homepagetop').order('lft desc').limit(1).find() %}

      <div class="homepage-top">
        <div class="homepage-top-inner">
          <div class="home-title">
      			{{ entry.title }}
          </div>
					<div class="home-top-body">
	          <div class="home-top-image">
	            {% for image in entry.image %}
	              <img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
	            {% endfor %}
	          </div>
	          <div class="home-top-text">
							<div class="home-text-body">
	            	{{ entry.body }}
							</div>
							<div class="score-button">
								<a href="https://paradata.herokuapp.com/scorerequest"
									 style="color: black;">
									 What's Your Score?
								</a>
							</div>
	          </div>
					</div>
        </div>
      </div>

		{% endfor %}

    <div class="homepage-middle">
      <div class="homepage-middle-inner">
				<div class="homepage-middle-title">
        	PARADATA DELIVERS
				</div>
				<div>
	        {% for entry in craft.entries.section('homepagemiddle').order('lft desc').limit(3).find() %}
            <div class="homepage-middle-list">
							<div class="home-middle-num">
              	{{ entry.title }}
							</div>
            </div>

            <div class="homepage-middle-list">
              {{ entry.body }}
            </div>
	        {% endfor %}
				</div>
				<div class="homepage-middle-list">
					<div class="learn-button">
						<a href="https://paradata.herokuapp.com/solutions"
							 style="color: black;">
	        		LEARN MORE
						</a>
					</div>
				</div>
      </div>

    </div>

    <div class="homepage-bottom">
      <div class="homepage-bottom-inner">
        {% for entry in craft.entries.section('homepagebottom').limit(1).find() %}
          <div class="homepage-bottom-text">
            <div class="homepage-bottom-title">
              {{ entry.title }}
            </div>
            <div>
              {{ entry.body }}
            </div>
						<div class="schedule-button">
							<a href="https://paradata.herokuapp.com/scorerequest"
								 style="color: black;">
								 Schedule a Demo
							</a>
						</div>
          </div>
          <div class="homepage-bottom-image">
            {% for image in entry.image %}
              <img src="{{ image.getUrl() }}" alt="{{ entry.title }}">
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}
